In [1]:
mylist = ['A', 'B', 'C', 'D', 'E', 'F']
mylist

['A', 'B', 'C', 'D', 'E', 'F']

In [2]:
type(mylist)

list

In [3]:
mylist2 = ['A',1,True,2.3]
mylist2

['A', 1, True, 2.3]

In [4]:
import numpy as np
np.array(mylist)

array(['A', 'B', 'C', 'D', 'E', 'F'], dtype='<U1')

In [5]:
np.array(mylist2)

array(['A', '1', 'True', '2.3'], dtype='<U32')

In [6]:
mylist[1]

'B'

In [7]:
mylist[-1]

'F'

In [8]:
mylist2[-2]

True

In [9]:
mylist2[::-1]

[2.3, True, 1, 'A']

In [10]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
months[0:3]

['Jan', 'Feb', 'Mar']

In [11]:
number = [1,2,3,4,5,6,7,8,9,10]
number[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
i = 10
i += 1
i

11

In [13]:
name = ["moTin", 'riJvee', 'raJ']
name[2].title()
name_correct = [] 
for i in name:
    name_correct.append(i.title())

name_correct

['Motin', 'Rijvee', 'Raj']

In [14]:
import timeit
msg = "Happy Birthday"
%timeit
for i in name:
    print(msg + " "+str(i.title()))
    print(f' Happy Birthday {i.title()}'.format(i))

Happy Birthday Motin
 Happy Birthday Motin
Happy Birthday Rijvee
 Happy Birthday Rijvee
Happy Birthday Raj
 Happy Birthday Raj

In [15]:
%timeit
print("Hello")

Hello

In [53]:
car = list(['Toyota','Honda',['BMW','Tata']])
car[1] = 'Audi'
car[2][1] = 'Mini'
car[2].insert(2, 'Hyundai')
car.remove(car[0])
car

['Audi', ['BMW', 'Mini', 'Hyundai']]